@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root{
  --color1:#11213B;
  --color2:#30425F;
  --color3:#2D2F31;
  --color4:#303A49;
  --color5:#9C9FA5;

  --font1:'Roboto', Arial, Helvetica, sans-serif;
  --font2:'Kdam Thmor Pro', sans-serif;
}
  
*{
  margin: 0px;
  padding: 0px;
  
}
body{
  background-color:#cdc2e0;
  max-width: auto;
  min-width: 550px;

}
.container{
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  line-height: 10px;
  margin: auto;
  
}
.box{
  position: relative;
  top: 91px;
  left: -64px;
  right: 10px;
}
header{
  
  
  
  color: white;
  font-family: var(--font2);
  padding-top: 40px;
  
  text-align: center;
  background-image: linear-gradient(to right,#270F0F ,#3d093b);
  text-shadow: 3px -2px 1px rgba(0, 0, 0, 0.507);
}

header h1{
  font-size: 3em;
  font-variant: small-caps;
  align-items: center;
  min-width: 542px;
  display: inline;
}
#sb{
  display: block;
}
div{
  align-items: center;
}
header >h2{
  padding-bottom: 15px;
  display: block;
}
div{
  box-shadow: 14px -4px 10px rgba(0, 0, 0, 0.329);
  font-size: 1.5em;
  background-color:#3d093b;
  align-items: center;
  display: flex;
  flex-direction:row ;
  align-items: center ;
  justify-content: space-around;
}
div a{

text-decoration: none;
text-align: center;
padding: 10px;
/* display: flex; */
color:white;
text-shadow: 1px 1px 1px black;

}
div a:hover{
  font-size: 2.5;
  color:#dededf;
  text-decoration: underline;
  background-color:#5575FA;
  border-radius: 10px;
  transition-duration: 1s;
}
main{
  border-radius: 12px;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  background-color:#e1e1e2;
  text-align: center;
  font-family: var(--font1);
  line-height: 1.5em;
  font-size: 1.5em;
  
}
main h2{
  box-shadow: 1px -5px 5px rgba(0, 0, 0, 0.212);
  margin-left:-40px; 
  margin-right: -40px;
  color: white;
  font-family: var(--font2);
  font-size: 1.3em;
  background-image: linear-gradient(to right,var(--color1), transparent);
  text-indent: 8px;
  text-shadow:1px 1px 1px black;
}
main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1.1em;
}
section ul{
  padding: 20px;
  border-radius: 10px;
  background-color:#D4F2FA;
  list-style-type:'\2714\00A0\00A0';
  list-style-position: inside;
  text-align: center;
  border-radius: 10px;
  columns: 2;
  list-style-position: inside;
}
section.normal{
  background-color:white;
  color: black;
  padding: 40px;
  text-align: center;
  

}
section p{
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.26);
  padding-bottom: 1em;
  border-radius: 10px;
}
section.normal>p{
  padding: 10px;
  background-color: white;
}
section.img{
  background-color: rgba(0, 0, 0, 0.692);
  padding: 40px;
  color: white;
  background-attachment: fixed;
  text-shadow:1px 1px 1px black;
  
  
}
section#img01{
  
  background-image: url(imagens/calculator-385506_1920.jpg);
  background-size: cover;
  background-position: left center;
  text-align: right;
}
section#img02{
  
  text-align: right;
  background-image: url(imagens/clock-2696234_1280.jpg);
  background-size: cover;
  background-position: right center;
}
footer{
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: #1281DE;
}
footer a:hover{
  text-decoration: none;
  background-color: #5575FA;
  text-decoration: underline;
  color: #000000;
}